
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/css/curriculos/style.css">
    <link rel="stylesheet" href="/static/css/curriculos/global.css">
  <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap"
    />
    <title>Curriculo Eliel</title>
</head>
<body>
  <div class="currculo-aluno">
    <div class="frame">
      <section class="frame1">
        <div class="frame2">
          <div class="frame3">
            <div class="frame4">
              <div class="navbar-2-parent">
                <div class="navbar-2">
                  <div class="container">
                    <div class="column">
                      <img class="logo-icon" alt="" src="static/img/logo.svg" />
                    </div>
                    <div class="column1">
                      <div class="link">Projetos</div>
                      <div class="link">Sobre</div>
                      <div class="link">Contato</div>
                      <div class="nav-link-dropdown">
                        <div class="link3">Link Four</div>
                        <img
                          class="chevron-down-icon"
                          alt=""
                          src="static/img/logo.svg"
                        />
                      </div>
                    </div>
                    <div class="column2">
                      <button class="button">
                        <div class="button1">Participar</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="proif-wrapper">
                  <h4 class="proif">
                    <span>PRO</span>
                    <span class="if">IF</span>
                  </h4>
                </div>
              </div>
              <div class="navbar-2-group">
                <div class="navbar-2">
                  <div class="container">
                    <div class="column">
                      <img class="logo-icon" alt="" src="static/img/logo.svg" />
                    </div>
                    <div class="column1">
                      <div class="link">Projetos</div>
                      <div class="link">Sobre</div>
                      <div class="link">Contato</div>
                      <div class="nav-link-dropdown">
                        <div class="link3">Link Four</div>
                        <img
                          class="chevron-down-icon"
                          alt=""
                          src="static/img/logo.svg"
                        />
                      </div>
                    </div>
                    <div class="column2">
                      <button class="button">
                        <div class="button1">Participar</div>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="proif-wrapper">
                  <h4 class="proif">
                    <span>PRO</span>
                    <span class="if">IF</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title">
            <div class="content">
              <b class="glicyelle-martins-de">Eliel Ferreira</b>
            </div>
          </div>
        </div>
        <img class="frame-icon" alt="" src="static/img/placeholder--image@2x.png" />
      </section>
      <div class="frame5">
        <div class="frame6">
          <div class="card">
            <div class="job">
              <div class="job-title">
                <b class="heading">HABILIDADES E EXPERIÊNCIAS</b>
              </div>
            </div>
            <div class="texto-descricao">
              Ok
            </div>
            <div class="frame-parent">
              <div class="frame7">
                <img
                  class="bulb-light-on-icon"
                  alt=""
                  src="static/img/bulblighton.svg"
                />

                <div class="habilidade">
                  <div class="habilidade1">Habilidade</div>
                  <div class="habilidade-child"></div>
                </div>
                <div class="frame8">
                  <div class="heading">Edição de vídeo</div>
                </div>
              </div>
              <div class="frame9">
                <div class="frame10">
                  <img
                    class="text-align-left-icon"
                    alt=""
                    src="static/img/textalignleft.svg"
                  />

                  <div class="descrio">
                    <div class="descrio1">Descrição</div>
                  </div>
                </div>
                <div class="frame-child"></div>
              </div>
            </div>
            <div class="frame-group">
              <div class="frame11">
                <div class="frame12">
                  <div class="frame13">
                    <div class="descrio1">Habilidade</div>
                    <img
                      class="frame-icon1"
                      alt=""
                      src="static/img/frame1.svg"
                    />
                  </div>
                  <div class="frame14">
                    <div class="heading">Fotografia</div>
                  </div>
                </div>
                <div class="frame9">
                  <div class="frame10">
                    <img
                      class="text-align-left-icon"
                      alt=""
                      src="static/img/textalignleft1.svg"
                    />

                    <div class="descrio">
                      <div class="descrio1">Descrição</div>
                    </div>
                  </div>
                  <div class="frame17">
                    <div class="texto-descricao">
                      Ok.
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame6">
                <div class="frame19">
                  <div class="link-externo">Link Externo</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame20">
          <div class="card1">
            <div class="job1">
              <div class="job-title">
                <b class="heading">FORMAÇÃO</b>
              </div>
            </div>
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique.
            </div>
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique.
            </div>
            <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. Suspendisse varius
              enim in eros elementum tristique.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame21">
      <div class="frame-wrapper">
        <div class="frame22">
          <div class="frame23">
            <div class="card-wrapper">
              <div class="card2">
                <div class="job2">
                  <div class="job-title">
                    <b class="heading">CONTATO</b>
                  </div>
                </div>
                <div class="info">
                  <div class="content1">
                    <img
                      class="folders-icon"
                      alt=""
                      src="static/img/folders.svg"
                    />

                    <div class="link3">Informática</div>
                  </div>
                  <div class="content1">
                    <img
                      class="icon-clock"
                      alt=""
                      src="static/img/icon--clock.svg"
                    />

                    <div class="link3">3° Período</div>
                  </div>
                </div>
                <div class="content1">
                  <img
                    class="icon-clock"
                    alt=""
                    src="static/img/icon--pin.svg"
                  />

                  <div class="link3">Pedras de Fogo</div>
                </div>
                <div class="button4">
                  <div class="link3">Enviar e-mail</div>
                </div>
              </div>
            </div>
            <div class="card3">
              <div class="job3">
                <div class="job-title">
                  <b class="heading">QUEM SOU EU?</b>
                </div>
                <div class="text6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-7-wrapper">
        <div class="footer-7">
          <h4 class="proif2">
            <span>PRO</span>
            <span class="if">IF</span>
          </h4>
          <div class="content4">
            <div class="logo">
              <img class="logo-icon2" alt="" src="static/img/logo.svg" />
            </div>
            <div class="links">
              <div class="link8">Projetos</div>
              <div class="link8">Sobre</div>
              <div class="link8">Contato</div>
              <div class="link8">Participar</div>
              <div class="link12">Link Five</div>
            </div>
          </div>
          <div class="credits">
            <div class="divider"></div>
            <div class="row">
              <div class="link3">
                <p class="all-rights-reserved">
                  © 2023. All rights reserved.
                </p>
                <p class="all-rights-reserved">
                  Projeto Final - Programação II
                </p>
              </div>
              <div class="footer-links">
                <div class="link13">Privacy Policy</div>
                <div class="link13">Terms of Service</div>
                <div class="link13">Cookies Settings</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
