
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/curriculos.css" />
    <title>Curriculo_Gleydson</title>
</head>

<body>
    <div class="perfil">
        <div> <img class="perfil-foto" src="/static/img/gleydson.png" alt="Foto de Gleydson"></div>
        <div class="texto"> <p> Gleydson Bruno da Silva Araujo</p> </div>
    </div>
    <div class="retangulo-con">
        <div class="texto-retangulo">
            CONTATO
        </div>
    </div>

    <div class="content">
        <p>Telefone: </p>
        <p>Email: </p>
        <p>Github: </p>
        <p>Cidade: </p>

    </div>

    <div class="retangulo-for">
        <div class="texto-retangulo">
            FORMAÇÃO
        </div>
    </div>
    <div class="retangulo-edu">
        <div class="texto-retangulo">
            EDUCAÇÃO
        </div>
    </div>
    <div class="retangulo-exp">
        <div class="texto-retangulo">
            EXPERIÊNCIA
        </div>
    </div>
    <div class="content">
        Casa de Repouso
    </div>
    <div class="linha-vertical"></div>
    <div class="retangulo-cur">
        <div class="texto-retangulo">
            CURSOS
        </div>
    </div>
    <div class="retangulo-pro">
        <div class="texto-retangulo">
            PROJETOS
        </div>
    </div>
    <div class="retangulo-qua">
        <div class="texto-retangulo">
            QUALIFICAÇÕES
        </div>
    </div>







</body>
</html>