<!-- formulario.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Exibição de Currículo</title>
</head>
<body>

<h1>Currículo</h1>
<a href="/listar_curriculos">btaoo</a>

{% if curriculos %}
    {% for curriculo in curriculos %}
        <div>
            <h2>{{ curriculo.nome }} {{ curriculo.sobrenome }}</h2>
            <p><strong>Email:</strong> {{ curriculo.email }}</p>
            <p><strong>Telefone:</strong> {{ curriculo.telefone }}</p>
            <p><strong>Resumo:</strong> {{ curriculo.resumo }}</p>
            <p><strong>Experiência:</strong> {{ curriculo.experiencia }}</p>
            <p><strong>Formação:</strong> {{ curriculo.formacao }}</p>
            <p><strong>Habilidades:</strong> {{ curriculo.habilidades }}</p>
            <!-- Adicione outros campos do seu modelo aqui -->

            {% if curriculo.foto %}
                <img src="{{ curriculo.foto.url }}" alt="Foto do Currículo">
            {% endif %}
        </div>
        <hr>
    {% endfor %}
    {% else %}
    <p>Nenhum currículo disponível.</p>
    {% endif %}

</body>
</html>
