:root {
  --black: rgba(0, 0, 0, 1);
  --neutraldark-gray: rgba(80, 80, 80, 1);
  --white: rgba(255, 255, 255, 1);
  --text-regular-normal-font-family: "Roboto-Regular", Helvetica;
  --text-regular-normal-font-weight: 400;
  --text-regular-normal-font-size: 16px;
  --text-regular-normal-letter-spacing: 0px;
  --text-regular-normal-line-height: 150%;
  --text-regular-normal-font-style: normal;
  --text-regular-semi-bold-font-family: "Roboto-SemiBold", Helvetica;
  --text-regular-semi-bold-font-weight: 600;
  --text-regular-semi-bold-font-size: 16px;
  --text-regular-semi-bold-letter-spacing: 0px;
  --text-regular-semi-bold-line-height: 150%;
  --text-regular-semi-bold-font-style: normal;
  --text-small-normal-font-family: "Roboto-Regular", Helvetica;
  --text-small-normal-font-weight: 400;
  --text-small-normal-font-size: 14px;
  --text-small-normal-letter-spacing: 0px;
  --text-small-normal-line-height: 150%;
  --text-small-normal-font-style: normal;
}
